.App {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

section.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.liquidImg {
  width: 50%;
}

.effectText {
  position: absolute;
  font-size: 15rem;
  color: transparent;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: var(--white);
  opacity: 0.8;
  text-transform: uppercase;
  width: max-content;
}

.footerBg {
  height: 900px;
  width: 100%;
  object-fit: cover;
}

footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

footer button {
  position: absolute;
  background-color: var(--yellow);
  color: var(--black);
  border: none;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-weight: var(--md);
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 3rem;
}

.footerEffect {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
}

footer svg {
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 5;
  transform-origin: top;
}
