@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@100;300;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

:root {
  /* colors */
  --black: #161616;
  --black-lt: #201f20;
  --white: #fff;
  --gray: #383638;
  --yellow: #ffce2e;
  --crimson: #f9403e;

  /* font weights */
  --lt: 100;
  --md: 300;
  --rg: 500;
  --bd: 700;
  --xbd: 900;

  min-height: 200vh;
}

body {
  background-color: var(--black-lt);
  overscroll-behavior: none;
  scroll-behavior: smooth;
}
